/*!
 *  Font Aunbox Icon
 * -------------------------- */
@font-face {
  font-family: 'Aunbox';
  src: url("./aun.eot");
  src: url("./aun.eot?#iefix") format("embedded-opentype"),
       url("./aun.woff") format("woff"),
       url("./aun.ttf") format("truetype"),
       url("./aun.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal;
}
.aun {
  display: inline-block;
  font: normal normal normal 14px/1 Aunbox;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.aun-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.aun-2x {
  font-size: 2em;
}
.aun-3x {
  font-size: 3em;
}
.aun-4x {
  font-size: 4em;
}
.aun-5x {
  font-size: 5em;
}
.aun-fw {
  width: 1.28571429em;
  text-align: center;
}
.aun-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.aun-ul > li {
  position: relative;
}
.aun-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.aun-li.aun-lg {
  left: -1.85714286em;
}
.aun-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.aun.pull-left {
  margin-right: .3em;
}
.aun.pull-right {
  margin-left: .3em;
}
.aun-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.aun-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.aun-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.aun-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.aun-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.aun-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .aun-rotate-90,
:root .aun-rotate-180,
:root .aun-rotate-270,
:root .aun-flip-horizontal,
:root .aun-flip-vertical {
  filter: none;
}
.aun-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.aun-stack-1x,
.aun-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.aun-stack-1x {
  line-height: inherit;
}
.aun-stack-2x {
  font-size: 2em;
}
.aun-inverse {
  color: #ffffff;
}

/* Font Aunbox icons */
.aun-back:before {
	content: "\e600";
}

.aun-download:before {
	content: "\e601";
}

.aun-forward:before {
	content: "\e602";
}

.aun-home:before {
	content: "\e603";
}

.aun-refresh:before {
	content: "\e604";
}

.aun-reload:before {
	content: "\e605";
}

.aun-search:before {
	content: "\e606";
}

.aun-view:before {
	content: "\e607";
}